Release*/
install/
Debug*/
build/
html/
Test-Suite
Release+Asserts/
Debug+Asserts/
autoconf/
tests/result/
doxygen/
.*
!.config.in
!.config.cmake.in
!.gitignore
*~
*.o
*.out
*.ll
*.bc
*.opt
*.log
*.status
*.obj
*.svf
cmake-build-debug/
compile_commands.json
