language: generic

matrix:
    include:
      - os: linux
        dist: bionic
        sudo: required
      - os: osx
        osx_image: xcode7.2

env:
  - SVF_CTIR=1 SVF_Z3=1

before_script:
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt-get update       ; fi
  - if [ "$TRAVIS_OS_NAME" = "linux" ]; then sudo apt-get install cmake gcc g++; fi

script:
  - . ./build.sh
  - . ./gen_lib.sh
  - pwd
  - cd $TRAVIS_BUILD_DIR/SVF-npm
  - git push https://JasonZhongZexin:${git_key}@github.com/SVF-tools/SVF-npm.git   HEAD:master
